<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error{
                color: red;
                font-style: italic;
            }
            .header{
                text-align: center;
                font-size: 35px;
            }
            .text {
                display: block;
                width: 100px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis
            }
        </style>
    </head>
<body>

    <div>
        <a href="/blog">Main Blog Page</a>
        &nbsp; &nbsp;
        <a href="/newpost">Make a new post</a>
    </div>

    

    {% block content %}
    {% endblock %}

</body>
</html>