<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error{
                color: red;
            }
        </style>
    </head>
<body>

    <div>
        <a href="/blog">Main Blog Page</a>
        <a href="/newpost">Make a new post</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {%  for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {%  endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>