{% extends "base.html" %}

{% block content %}
<h1>new post</h1>

<form action='/newpost' method='post'>
    <table>
        <tr>
            <td>
                <label>
                    <div>Title:</div>
                    <input name="newpost_title" type="text" value="{{new_title}}" />
                    <br />
                    <span class='error'>{{title_error}}</span>
                </label>
            </td>
 
        </tr>
        <tr>
            <td>
                <lable>
                    <div>Post:</div>
                    <textarea name="newpost">{{new_post}}</textarea>
                    <br />
                    <span class="error">{{body_error}}</span>
                    <br /> 
                    <input type="submit" value="Add Entry" />
                </lable>
            </td>
        </tr>
    </table>

</form>

{% endblock %}